<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.felipedeveloper.gestaofinanceira">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".View.myApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme"
        tools:replace="android:icon">
        <activity android:name=".View.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.LoginActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".View.OpcoesFinanceiraActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".View.LoginEmailActivity"
            android:parentActivityName=".View.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.felipedeveloper.gestaofinanceira.View.LoginActivity" />
        </activity>
        <activity
            android:name=".View.UsuarioConfiguracaoActivity"
            android:label="Configuração"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".View.CartaoActivity"
            android:label="@string/title_activity_cartao"
            android:parentActivityName=".View.OpcoesFinanceiraActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.felipedeveloper.gestaofinanceira.View.OpcoesFinanceiraActivity" />
        </activity>
        <activity
            android:name=".View.CarteiraActivity"
            android:label=""
            android:parentActivityName=".View.OpcoesFinanceiraActivity"
            android:theme="@style/Theme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.felipedeveloper.gestaofinanceira.View.OpcoesFinanceiraActivity" />
        </activity>
        <activity
            android:name=".View.ContasBancariasActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.felipedeveloper.gestaofinanceira.View.OpcoesFinanceiraActivity" />
        </activity>
        <activity
            android:name=".View.AddBancoActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.felipedeveloper.gestaofinanceira.View.ContasBancariasActivity" />
        </activity>
        <activity
            android:name=".View.AddCartaoActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.felipedeveloper.gestaofinanceira.View.CartaoActivity" />
        </activity>
        <activity
            android:name=".View.GrupoActivity"
            android:label="@string/title_activity_grupo"
            android:parentActivityName=".View.OpcoesFinanceiraActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.felipedeveloper.gestaofinanceira.View.OpcoesFinanceiraActivity" />
        </activity>
        <activity android:name=".View.TransacoesActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>